<!DOCTYPE html>
<html>
  <head>
    <title>ImportmapEarlyHintsRepro</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%# This does not work: %>
    <%= javascript_include_tag "some_module", type: "module" %>

    <%# This works: %>
    <!-- <script src="<%= path_to_javascript("some_module")%>" type="module"></script> -->
  </head>

  <body>
    <%= yield %>
  </body>
</html>
